body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.home .post img {
  position: absolute;
  top: 10px;
  left: -110px;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
}
